{% extends 'layouts.html' %}

{% block title %}
    Home
{% endblock title %}
{% block content %}
    <section id="home" class="section">
        <div class="container">
            <h2>Welcome to Spring International Bank</h2>
            <p>Manage your finances securely and conveniently.</p>
        </div>
    </section>

    <section id="about" class="section">
        <div class="container">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </section>

    <section id="services" class="section">
        <div class="container">
            <h2>Our Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </section>

    <section id="contact" class="section">
        <div class="container">
            <h2>Contact Us</h2>
            <p> For investment and partnership, call us on +14785269822 or via our email: contact@livingspring.com</p>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Living Spring International Bank. <br> All rights reserved.</p>
        </div>
    </footer>

{% endblock content %}
     
